* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(246, 247, 248);

}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    width: 50vw;
    height: 50vh;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow-img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(8%);
    top: calc(8%);

}

.section-text {
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.underline {
    border-bottom: 3px solid #29ABE2;
    width: 105px;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-cont {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    /* padding: 0px; */
    align-items: center;
    color: #D1D1D1;
    box-sizing: border-box;
    margin-bottom: 29px;
    gap: 48px;
}

.input-cont input {
    outline: none;
    background-color: transparent;
    border: 0px solid;
}

.dialog-links-cont {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.dialog-links-cont a {
    text-decoration: none;
}

.button-cont {
    display: flex;
    justify-content: space-around;
}

/* BoxShadow Properties */


/* blue */
.blue-btn {
    width: 145px;
    height: 50px;
    background: #2A3647;
    border-radius: 10px;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

/* To Do */

.blue-btn:hover {
    transition: myAnimation 1s ease-in-out;
    background-color: #29ABE2;
    border-color: #29ABE2;
    /* -webkit-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75); */
}

.emailBtn {
    min-width: 145px !important;
}

/* To Do */

@keyframes myAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* white */
.white-btn {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A3647;
    cursor: pointer;
}

.info-box-right {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: space-between;
    /* width: 270px; */
}

.info-box-right span {
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box-right button {
    font-size: 16px !important;
}

.forgot-passwort {
    cursor: pointer;
    color: #29ABE2;
}

.forgot-passwort-text {
    margin-left: calc(8%);
    margin-right: calc(8%);
    margin-bottom: 32px;
}

.passwort-btn {
    width: unset;
}

.remember-link {
    text-decoration: none;
}

.danger a {
    background-color: rgb(204, 57, 57);
}

/* Logo adjustment web to mobile and mobile to web */

 .adj-web-logo {
        left: calc(8%) !important;
        top: calc(10%) !important;
        width: 100px !important;
        height: 120px !important;
    }

    .adj-mobile-logo {
        left: calc(17%) !important;
        top: calc(9%) !important;
        width: 64px !important;
        height: 100px !important;
    }



/*******Animation for Web Version *********************************/

.web-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    /* background-color: #2A3647;  */
    animation-name: animation-web-bg;
    animation-delay: 1s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

}

.web-logo {
    width: 275px;
    height: 350px;
    position: absolute;
    left: calc(40%);
    top: calc(28%);
    animation-name: animation-web-logo;
    animation-delay: 1s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes animation-web-logo {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-30%, -30%);
    }

    100% {
        transform: translate(-50%, -50%);
        left: calc(8%);
        top: calc(10%);
        width: 100px;
        height: 120px;
        z-index: 0;
    }
}


@keyframes animation-web-bg {
    0% {
        opacity: 50%;
    }

    50% {
        opacity: 75%;
        background-color: #F5F5F5;
    }

    100% {
        position: unset;
        opacity: 100%;
        background-color: #F5F5F5;
        z-index: 0;
        height: unset;
    }
}

/***********************************************/


/*******Animation for Mobile Version *********************************/

.mobile-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: #F5F5F5; */
    background-color: #2A3647;
    animation-name: animation-mobile-bg;
    animation-delay: 1s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

}

.mobile-logo {
    width: 100px;
    height: 120px;
    background-image: url('./Img/logo-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: calc(40%);
    top: calc(38%);
    animation-name: animation-mobile-logo;
    animation-delay: 1s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
}

@keyframes animation-mobile-logo {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-30%, -30%);
        background-image: url('./Img/logo-web.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

    }

    100% {
        background-image: url('./Img/logo-web.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
        left: calc(17%);
        top: calc(9%);
        width: 64px;
        height: 100px;
        z-index: 0;
    }
}


@keyframes animation-mobile-bg {
    0% {
        opacity: 50%;
    }

    50% {
        opacity: 75%;
        background-color: #F5F5F5;
    }

    100% {
        /* opacity: 100%;
        background-color: #F5F5F5;
        z-index: 0; */

        position: unset;
        opacity: 100%;
        background-color: #F5F5F5;
        z-index: 0;
        height: unset;
    }
}

/***********************************************/

@media (max-width: 1100px) {
    /* .mobile-logo {
        left: calc(8%);
        top: calc(10%);
        width: 100px;
        height: 120px;
    } */
}

/* ***Mobile Version******** */

@media (max-width: 550px) {
    /* .web-logo {
        left: calc(17%);
        top: calc(9%);
        width: 64px;
        height: 100px;
    } */


    .info-box-right {
        position: absolute;
        top: unset;
        bottom: 24px;
        right: calc(6%);
        left: calc(15%);
    }

    .dialog {
        width: 90vw;
    }

    .button-cont {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }

    .input-cont {
        width: unset;

    }
}