
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.title-container {
    width: 920px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.page-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
}

.d-none {
    display: none;
}


.page {
    margin-left: 232px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


form {
    min-height: 300px;
    width: 920px;
    font-family: 'Inter', sans-serif;
}


.form-input-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.form-left, .form-right {
    width: 422px;

    display: flex;
    flex-direction: column;
}

.parting-line {
    height: 432px;
    width: 1px;
    background-color: #D1D1D1;

}

label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.form-box {
    min-height: 51px;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; 
}

.form-box p {
    margin: 0;
    margin-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

input, textarea  {
    width: 90%;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    color: black;
    font-size: 21px !important;
}

.categories-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
}

.category-input {
    cursor: pointer;
}

.selection-item {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 100ms ease-in-out;
}

.selection-item:hover {
    background-color: rgb(197, 197, 197);
    transition: all 150ms ease-in-out;
}

.color-point {
    height: 12px;
    width: 12px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: #929292;
    margin-left: 11px;
}

.color-point-selector {
    height: 24px;
    width: 22px !important;
    border: 1px solid white;
}

.description-input {
    align-self: flex-end;
    width: 95%;
    height: 90px;
    resize: none;
}

.new-category-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-category-wrapper input {
    width: 70%;
    cursor: default;
}

.new-category-check-img {
    height: 22px;
}

.new-category-close-img {
    height: 24px;
}

.category-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%
}




#selected-color-point {
    margin-right: 15px;
    background-color: white;
}

.contact-icon-container {
    display: flex;
    justify-content: flex-start;

}

.contac-icon {
    margin: 8px;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-item {
    display: flex;
    justify-content: space-between;
}

.email-checkbox {
    background-color: #7ae229;
    margin-right: 2px;
}

.checkbox-container {
    margin-right: 18px;
}








.categies-container {
    display: flex;
    flex-direction: column;
}


.assigned-to {
    font-family: 'Inter', sans-serif;
    
}

.tbox {
    height: 24px;
    width: 24px;
    background-color: #929292;
}

.due-date {
    font-family: 'Inter', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
      content: url('../Img/icon_calender.svg');
}
   
    
.prio-options {
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
}


.prio-buttons {
    height: 55px;
    width: 130px;
    height: 51px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 150ms ease-in-out;
}

.prio-buttons span {
    font-weight: 400;
    font-size: 21px;
}

.prio-buttons img {
    height: 18px;
}

.prio-buttons:hover {
    transition: all 150ms ease-in-out;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}


.btn-urgent {
    background-color: #ff3d00;
    color: white;
}

.btn-medium{
    background-color: #ffa800;
    color: white;
}

.btn-low {
    background-color: #7ae229;
    color: white;
}

.arrow-icon-box {
    height: 100%;
    width: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .layer1 {
    position: absolute;
    z-index: 1;
 }

 .layer2 {
    position: absolute;
     z-index: 2;
 }

.button-bar  {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.create-task-btn {
    height: 55px;
    padding: 18px 10px;
    font-weight: 700;
    font-size: 21px;
    border: none;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.create-task-btn img {
    margin-left: 10px;
}


.create-task-btn:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: #29ABE2;
    transition: all 225ms ease-in-out;
}

.clear-btn {
    height: 55px;
    margin-right: 20px;
    padding: 18px 10px;
    font-weight: 700;
    font-size: 21px;
    border: 1px solid #2A3647;
    background-color: #F5F5F5;
    color: #2A3647;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clear-btn:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
}

.subtasks-container {
    display: flex;
    flex-direction: column;
}

.subtasks-container span {
    line-height: 1.1;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.checkbox {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}



.blue {
    background-color: #29ABE2;
}

.red {
    background-color: #b11320;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(14, 155, 14);
}


.hell-blue {
    background-color: rgb(73, 135, 163);
}


.purple {
    background-color: rgb(122, 30, 158);
}


.orange {
    background-color: orange;
}


.gold {
    background-color: gold;
}


.tomato {
    background-color: tomato;
}