body {
    font-family: 'Inter';
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}


header {
    background-color: #FFFFFF;
    height: 89px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /*  changed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.logo-mobile {
    display: none;
}

p {
    font-weight: 400;
    font-size: 21px;
    margin-left: 350px;
}

.image-box {
    position: absolute;
    right: 40px;
    top: 22px;
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.question-mark {
    margin-top: 8px;
}

.avatar-header {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 1.5px;
    border: 3px solid #2A3647;
    cursor: pointer;
}

.avatar-header:hover {
    border: 3px solid #eef0f3;
}
/* Section with Links */

.container-left {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2A3647;
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}



.upper-cont {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}


.links-cont {
    box-sizing: border-box;
}

.immpresum-cont {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.links-cont-elements {
    width: 232px;
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
    


}

.links-cont-elements:hover {
    background-color: #091931;
}

.links-cont-elements img {
    width: 23px;
    height: 22px;
    margin-left: 34px;
}

.m-left {
    margin-left: 16px;
}

.data-security-icon {
    width: 18px;
    height: 18px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* Pop-Out button */

.log-out-pop-out-web {
    width: 130px;
    /* height: 55px; */
    background-color: #2A3647;
    color: #FFFFFF;
    position: fixed;
    right: 0;
    top: 100px;
    border-radius: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 12px;
    transform: translateX(140px);
    transition: all 1s ease-in-out;
    z-index: 2;
    
}

.log-out-pop-out-web div {
    padding: 10px;
    margin-left: 8px;
    cursor: pointer;
}

.pop-out-web {
    transform: translateX(0px);
}

/* Responsive Version Only */

@media(max-width: 1200px) {

    .container-left {
        width: unset;

    }

    .kanban-text {
        margin-left: 150px;
    }

    .logo-cont img {
        width: 75px;
        height: 75px;
    }

    .links-cont {
        width: 100%;
    }

    .links-cont-elements {
        width: unset;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 75px;
    }

    .links-cont-elements a {
        text-decoration: none;
    }

    .links-cont-elements img {
        width: 26px;
        height: 26px;
        margin-left: 0;
        margin-bottom: 14px;
    }

    .m-left {
        margin-left: 0;
    }

    .dialog-box {
        width: 90vw;
    }

}

@media(max-width: 900px) {
    .container-left {
        width: 100vw;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: unset;
        height: 80px;
        z-index: 1;
    }

    .logo-cont {
        display: none;
    }

    .immpresum-cont {
        display: none;
    }

    .links-cont {
        display: flex;
        width: 100%;
        justify-content: space-around;
        min-height: 80px;

    }

    .links-cont-elements {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        /* width: unset; */
        margin-bottom: 0;
        padding: 0;
        width: 7px;
        border-radius: 20px;
        margin-top: 4px;
    }

    .links-cont-elements img {
        width: 24px;
        height: 24px;
        margin-left: 0;
    }
   
    .m-left {
        margin-left: 0;
        font-size: 14px;
    }

    .kanban-text {
        display: none;
    }

    .logo-mobile {
        display: unset;
        width: 46px;
        height: 46px;
        margin-left: 40px;

    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

}


/* @media(max-width: 600px){
        .adress-book{
            display: none;
        }
    } */